// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.pin-url {
  .pin-url-item{
		display: inline-block;
		text-align: center;
		margin-left: 3px;
		padding-left: 3px;
		padding-right: 3px;
  	max-width: 100%;
	}
	.pin-url-item:hover {
    color: white !important;
		background-color: #3B5998;
		opacity: 1;
	}
}
